# Census Data

All data is from a census data package supported on [GitHub](https://github.com/jtleider/censusdata). Unfortunatley this may be a short-term solution because the package is no longer being supported on GitHub so we may have to find a more long-term solution in the future. For this project, we are using basic demographics so I have found data on sex, age, race, employment status, number of housing units, income, language spoken at home, heatlh insurance status, poverty status. All data is at the census tract level and is either the total count or the average for the tract. The data used for the project is the ACS 5-year from 2018.

## Importing CensusData and Packages

In [1]:
pip install censusdata

Requirement already satisfied: censusdata in /opt/conda/lib/python3.9/site-packages (1.15.post1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (from censusdata) (1.3.5)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from censusdata) (2.26.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas->censusdata) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas->censusdata) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from pandas->censusdata) (1.20.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests->censusdata) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->censusdata) (2.0.9)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->censusdata) (3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests->censusdata) (1.25.11)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->censusdata) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import censusdata
import geopandas as gpd
from geopandas import GeoDataFrame

## Searching State & County Numbers

In [3]:
#finding state number
states = censusdata.geographies(censusdata.censusgeo([('state', '*')]), 'acs5', 2018)
print(states['Minnesota'])

Summary level: 040, state:27

In [4]:
#finding county number
counties = censusdata.geographies(censusdata.censusgeo([('state', '27'), ('county', '*')]), 'acs5', 2018)
print(counties['Hennepin County, Minnesota'])

Summary level: 050, state:27> county:053

## Searching Census Tables

Table codes were found on the Census Data Tables [site](https://data.census.gov/cedsci/all?d=ACS%205-Year%20Estimates%20Detailed%20Tables).

In [5]:
sex_by_age = censusdata.printtable(censusdata.censustable('acs5', 2018, 'B01001')) #age & sex data

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B01001_001E  | SEX BY AGE                     | !! Estimate Total                                        | int
B01001_002E  | SEX BY AGE                     | !! !! Estimate Total Male                                | int
B01001_003E  | SEX BY AGE                     | !! !! !! Estimate Total Male Under 5 years               | int
B01001_004E  | SEX BY AGE                     | !! !! !! Estimate Total Male 5 to 9 years                | int
B01001_005E  | SEX BY AGE                     | !! !! !! Estimate Total Male 10 to 14 years              | int
B01001_006E  | SEX BY AGE                     | !! !! !! Estimate Total Male 15 to 17 years              | int
B01001_007E  | SEX BY AGE                     | !! !! !! Estimate Total Male 18 and 19 years             | int
B01001_008E  | SEX BY AGE                     | !! !! !! Estimate Total Male 20 years                    | int
B01001_009E  | SEX BY AGE                     | !! !! !! Estimate Total Male 21 years                    | int
B01001_010E  | SEX BY AGE                     | !! !! !! Estimate Total Male 22 to 24 years              | int
B01001_011E  | SEX BY AGE                     | !! !! !! Estimate Total Male 25 to 29 years              | int
B01001_012E  | SEX BY AGE                     | !! !! !! Estimate Total Male 30 to 34 years              | int
B01001_013E  | SEX BY AGE                     | !! !! !! Estimate Total Male 35 to 39 years              | int
B01001_014E  | SEX BY AGE                     | !! !! !! Estimate Total Male 40 to 44 years              | int
B01001_015E  | SEX BY AGE                     | !! !! !! Estimate Total Male 45 to 49 years              | int
B01001_016E  | SEX BY AGE                     | !! !! !! Estimate Total Male 50 to 54 years              | int
B01001_017E  | SEX BY AGE                     | !! !! !! Estimate Total Male 55 to 59 years              | int
B01001_018E  | SEX BY AGE                     | !! !! !! Estimate Total Male 60 and 61 years             | int
B01001_019E  | SEX BY AGE                     | !! !! !! Estimate Total Male 62 to 64 years              | int
B01001_020E  | SEX BY AGE                     | !! !! !! Estimate Total Male 65 and 66 years             | int
B01001_021E  | SEX BY AGE                     | !! !! !! Estimate Total Male 67 to 69 years              | int
B01001_022E  | SEX BY AGE                     | !! !! !! Estimate Total Male 70 to 74 years              | int
B01001_023E  | SEX BY AGE                     | !! !! !! Estimate Total Male 75 to 79 years              | int
B01001_024E  | SEX BY AGE                     | !! !! !! Estimate Total Male 80 to 84 years              | int
B01001_025E  | SEX BY AGE                     | !! !! !! Estimate Total Male 85 years and over           | int
B01001_026E  | SEX BY AGE                     | !! !! Estimate Total Female                              | int
B01001_027E  | SEX BY AGE                     | !! !! !! Estimate Total Female Under 5 years             | int
B01001_028E  | SEX BY AGE                     | !! !! !! Estimate Total Female 5 to 9 years              | int
B01001_029E  | SEX BY AGE                     | !! !! !! Estimate Total Female 10 to 14 years            | int
B01001_030E  | SEX BY AGE                     | !! !! !! Estimate Total Female 15 to 17 years            | int
B01001_031E  | SEX BY AGE                     | !! !! !! Estimate Total Female 18 and 19 years           | int
B01001_032E  | SEX BY AGE                     | !! !! !! Estimate Total Female 20 years                  | int
B01001_033E  | SEX BY AGE                     | !! !! !! Estimate Total Female 21 years                  | int
B01001_034E  | SEX BY AGE                     | !! !! !! Estimate Total Female 22 to 24 years            | int
B01001_035E  | SEX BY AGE                     | !! !! !! Estimate Total Female 25 to 29 years            | int
B01001_036E  | SEX BY AGE                     | !! !! !! Estimate Total Female 30 to 34 years            | int
B01001_037E  | SEX BY AGE                     | !! !! !! Estimate Total Female 35 to 39 years            | int
B01001_038E  | SEX BY AGE                     | !! !! !! Estimate Total Female 40 to 44 years            | int
B01001_039E  | SEX BY AGE                     | !! !! !! Estimate Total Female 45 to 49 years            | int
B01001_040E  | SEX BY AGE                     | !! !! !! Estimate Total Female 50 to 54 years            | int
B01001_041E  | SEX BY AGE                     | !! !! !! Estimate Total Female 55 to 59 years            | int
B01001_042E  | SEX BY AGE                     | !! !! !! Estimate Total Female 60 and 61 years           | int
B01001_043E  | SEX BY AGE                     | !! !! !! Estimate Total Female 62 to 64 years            | int
B01001_044E  | SEX BY AGE                     | !! !! !! Estimate Total Female 65 and 66 years           | int
B01001_045E  | SEX BY AGE                     | !! !! !! Estimate Total Female 67 to 69 years            | int
B01001_046E  | SEX BY AGE                     | !! !! !! Estimate Total Female 70 to 74 years            | int
B01001_047E  | SEX BY AGE                     | !! !! !! Estimate Total Female 75 to 79 years            | int
B01001_048E  | SEX BY AGE                     | !! !! !! Estimate Total Female 80 to 84 years            | int
B01001_049E  | SEX BY AGE                     | !! !! !! Estimate Total Female 85 years and over         | int
-------------------------------------------------------------------------------------------------------------------

In [6]:
race = censusdata.printtable(censusdata.censustable('acs5', 2018, 'B02001')) #total race data

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B02001_001E  | RACE                           | !! Estimate Total                                        | int
B02001_002E  | RACE                           | !! !! Estimate Total White alone                         | int
B02001_003E  | RACE                           | !! !! Estimate Total Black or African American alone     | int
B02001_004E  | RACE                           | !! !! Estimate Total American Indian and Alaska Native a | int
B02001_005E  | RACE                           | !! !! Estimate Total Asian alone                         | int
B02001_006E  | RACE                           | !! !! Estimate Total Native Hawaiian and Other Pacific I | int
B02001_007E  | RACE                           | !! !! Estimate Total Some other race alone               | int
B02001_008E  | RACE                           | !! !! Estimate Total Two or more races                   | int
B02001_009E  | RACE                           | !! !! !! Estimate Total Two or more races Two races incl | int
B02001_010E  | RACE                           | !! !! !! Estimate Total Two or more races Two races excl | int
-------------------------------------------------------------------------------------------------------------------

In [7]:
employment_status = censusdata.printtable(censusdata.censustable('acs5', 2018, 'B23025')) #total population and working population

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B23025_001E  | EMPLOYMENT STATUS FOR THE POPU | !! Estimate Total                                        | int
B23025_002E  | EMPLOYMENT STATUS FOR THE POPU | !! !! Estimate Total In labor force                      | int
B23025_003E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! Estimate Total In labor force Civilian labor fo | int
B23025_004E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! !! Estimate Total In labor force Civilian labor | int
B23025_005E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! !! Estimate Total In labor force Civilian labor | int
B23025_006E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! Estimate Total In labor force Armed Forces      | int
B23025_007E  | EMPLOYMENT STATUS FOR THE POPU | !! !! Estimate Total Not in labor force                  | int
-------------------------------------------------------------------------------------------------------------------

In [8]:
housing_units = censusdata.printtable(censusdata.censustable('acs5', 2018, 'B25001')) #number of housing units/tract

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B25001_001E  | HOUSING UNITS                  | !! Estimate Total                                        | int
-------------------------------------------------------------------------------------------------------------------

In [9]:
income = censusdata.printtable(censusdata.censustable('acs5', 2018, 'B19301')) #PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2020 INFLATION-ADJUSTED DOLLARS)

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B19301_001E  | PER CAPITA INCOME IN THE PAST  | !! Estimate Per capita income in the past 12 months (in  | int
-------------------------------------------------------------------------------------------------------------------

In [10]:
language_athome = censusdata.printtable(censusdata.censustable('acs5', 2018, 'B16007')) #language spoken at home

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B16007_001E  | AGE BY LANGUAGE SPOKEN AT HOME | !! Estimate Total                                        | int
B16007_002E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! Estimate Total 5 to 17 years                       | int
B16007_003E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 5 to 17 years Speak only English | int
B16007_004E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 5 to 17 years Speak Spanish      | int
B16007_005E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 5 to 17 years Speak other Indo-E | int
B16007_006E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 5 to 17 years Speak Asian and Pa | int
B16007_007E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 5 to 17 years Speak other langua | int
B16007_008E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! Estimate Total 18 to 64 years                      | int
B16007_009E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 18 to 64 years Speak only Englis | int
B16007_010E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 18 to 64 years Speak Spanish     | int
B16007_011E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 18 to 64 years Speak other Indo- | int
B16007_012E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 18 to 64 years Speak Asian and P | int
B16007_013E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 18 to 64 years Speak other langu | int
B16007_014E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! Estimate Total 65 years and over                   | int
B16007_015E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 65 years and over Speak only Eng | int
B16007_016E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 65 years and over Speak Spanish  | int
B16007_017E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 65 years and over Speak other In | int
B16007_018E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 65 years and over Speak Asian an | int
B16007_019E  | AGE BY LANGUAGE SPOKEN AT HOME | !! !! !! Estimate Total 65 years and over Speak other la | int
-------------------------------------------------------------------------------------------------------------------

In [11]:
health_insurance = censusdata.printtable(censusdata.censustable('acs5', 2018, 'B27001'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B27001_001E  | HEALTH INSURANCE COVERAGE STAT | !! Estimate Total                                        | int
B27001_002E  | HEALTH INSURANCE COVERAGE STAT | !! !! Estimate Total Male                                | int
B27001_003E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male Under 6 years               | int
B27001_004E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male Under 6 years With healt | int
B27001_005E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male Under 6 years No health  | int
B27001_006E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male 6 to 18 years               | int
B27001_007E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 6 to 18 years With healt | int
B27001_008E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 6 to 18 years No health  | int
B27001_009E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male 19 to 25 years              | int
B27001_010E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 19 to 25 years With heal | int
B27001_011E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 19 to 25 years No health | int
B27001_012E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male 26 to 34 years              | int
B27001_013E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 26 to 34 years With heal | int
B27001_014E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 26 to 34 years No health | int
B27001_015E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male 35 to 44 years              | int
B27001_016E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 35 to 44 years With heal | int
B27001_017E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 35 to 44 years No health | int
B27001_018E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male 45 to 54 years              | int
B27001_019E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 45 to 54 years With heal | int
B27001_020E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 45 to 54 years No health | int
B27001_021E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male 55 to 64 years              | int
B27001_022E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 55 to 64 years With heal | int
B27001_023E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 55 to 64 years No health | int
B27001_024E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male 65 to 74 years              | int
B27001_025E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 65 to 74 years With heal | int
B27001_026E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 65 to 74 years No health | int
B27001_027E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Male 75 years and over           | int
B27001_028E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 75 years and over With h | int
B27001_029E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Male 75 years and over No hea | int
B27001_030E  | HEALTH INSURANCE COVERAGE STAT | !! !! Estimate Total Female                              | int
B27001_031E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female Under 6 years             | int
B27001_032E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female Under 6 years With hea | int
B27001_033E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female Under 6 years No healt | int
B27001_034E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female 6 to 18 years             | int
B27001_035E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 6 to 18 years With hea | int
B27001_036E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 6 to 18 years No healt | int
B27001_037E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female 19 to 25 years            | int
B27001_038E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 19 to 25 years With he | int
B27001_039E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 19 to 25 years No heal | int
B27001_040E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female 26 to 34 years            | int
B27001_041E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 26 to 34 years With he | int
B27001_042E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 26 to 34 years No heal | int
B27001_043E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female 35 to 44 years            | int
B27001_044E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 35 to 44 years With he | int
B27001_045E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 35 to 44 years No heal | int
B27001_046E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female 45 to 54 years            | int
B27001_047E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 45 to 54 years With he | int
B27001_048E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 45 to 54 years No heal | int
B27001_049E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female 55 to 64 years            | int
B27001_050E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 55 to 64 years With he | int
B27001_051E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 55 to 64 years No heal | int
B27001_052E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female 65 to 74 years            | int
B27001_053E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 65 to 74 years With he | int
B27001_054E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 65 to 74 years No heal | int
B27001_055E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Female 75 years and over         | int
B27001_056E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 75 years and over With | int
B27001_057E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Female 75 years and over No h | int
-------------------------------------------------------------------------------------------------------------------

In [12]:
poverty = censusdata.printtable(censusdata.censustable('acs5', 2018, 'B17001')) #last 12 months

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B17001_001E  | POVERTY STATUS IN THE PAST 12  | !! Estimate Total                                        | int
B17001_002E  | POVERTY STATUS IN THE PAST 12  | !! !! Estimate Total Income in the past 12 months below  | int
B17001_003E  | POVERTY STATUS IN THE PAST 12  | !! !! !! Estimate Total Income in the past 12 months bel | int
B17001_004E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_005E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_006E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_007E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_008E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_009E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_010E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_011E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_012E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_013E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_014E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_015E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_016E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_017E  | POVERTY STATUS IN THE PAST 12  | !! !! !! Estimate Total Income in the past 12 months bel | int
B17001_018E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_019E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_020E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_021E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_022E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_023E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_024E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_025E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_026E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_027E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_028E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_029E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_030E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_031E  | POVERTY STATUS IN THE PAST 12  | !! !! Estimate Total Income in the past 12 months at or  | int
B17001_032E  | POVERTY STATUS IN THE PAST 12  | !! !! !! Estimate Total Income in the past 12 months at  | int
B17001_033E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_034E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_035E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_036E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_037E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_038E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_039E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_040E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_041E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_042E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_043E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_044E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_045E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_046E  | POVERTY STATUS IN THE PAST 12  | !! !! !! Estimate Total Income in the past 12 months at  | int
B17001_047E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_048E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_049E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_050E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_051E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_052E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_053E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_054E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_055E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_056E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_057E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_058E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
B17001_059E  | POVERTY STATUS IN THE PAST 12  | !! !! !! !! Estimate Total Income in the past 12 months  | int
-------------------------------------------------------------------------------------------------------------------

## Choosing Variables within Census Tables

In [13]:
sex_by_age_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B01001_001E', 'B01001_002E', 'B01001_026E'])

sex_by_age_tract = sex_by_age_hennepin.rename(columns={'B01001_001E': 'Total_Count', 
                                                    'B01001_002E': 'Male_Count', 
                                                    'B01001_026E': 'Female_Count'})
sex_by_age_tract

,Total_Count,Male_Count,Female_Count
"Census Tract 1048, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:104800",10065,4961,5104
"Census Tract 1087, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108700",3840,1992,1848
"Census Tract 1056, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:105600",4467,2382,2085
"Census Tract 1062, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:106200",4084,2265,1819
"Census Tract 1086, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108600",2998,1588,1410
...,...,...,...
"Census Tract 265.10, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026510",3579,1473,2106
"Census Tract 265.12, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026512",6212,3296,2916
"Census Tract 267.07, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026707",4805,2425,2380
"Census Tract 210.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021002",1959,897,1062
"Census Tract 215.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021502",3844,1705,2139

In [14]:
race_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B02001_001E', 'B02001_002E', 'B02001_003E', 'B02001_004E', 'B02001_005E', 'B02001_006E', 'B02001_007E', 'B02001_008E', 'B02001_009E', 'B02001_010E'])

race_tract = race_hennepin.rename(columns={'B02001_001E': 'Total_Race', 
                                        'B02001_002E': 'White_Count', 
                                        'B02001_003E': 'Black_Count',
                                        'B02001_004E': 'AmIndian_Count',
                                        'B02001_005E': 'Asian_Count',
                                        'B02001_006E': 'NativeHI_Count',
                                        'B02001_007E': '1RaceOther_Count',
                                        'B02001_008E': '2RaceOther_Count',
                                        'B02001_009E': '2+RaceInc_Count',
                                        'B02001_010E': '2+RaceExc_Count'})
race_tract

,Total_Race,White_Count,Black_Count,AmIndian_Count,Asian_Count,NativeHI_Count,1RaceOther_Count,2RaceOther_Count,2+RaceInc_Count,2+RaceExc_Count
"Census Tract 1048, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:104800",10065,3219,5146,36,1156,0,112,396,0,396
"Census Tract 1087, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108700",3840,2485,674,116,148,28,79,310,11,299
"Census Tract 1056, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:105600",4467,3521,486,5,272,0,40,143,2,141
"Census Tract 1062, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:106200",4084,1468,2468,15,77,0,11,45,0,45
"Census Tract 1086, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108600",2998,1863,485,83,26,0,469,72,5,67
...,...,...,...,...,...,...,...,...,...,...
"Census Tract 265.10, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026510",3579,3039,222,0,129,0,22,167,32,135
"Census Tract 265.12, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026512",6212,5489,165,36,303,3,143,73,5,68
"Census Tract 267.07, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026707",4805,4372,72,38,153,0,108,62,0,62
"Census Tract 210.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021002",1959,1465,385,30,0,0,3,76,9,67
"Census Tract 215.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021502",3844,2025,1345,8,81,0,207,178,10,168

In [15]:
employment_status_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B23025_001E', 'B23025_002E'])

employment_status_tract = employment_status_hennepin.rename(columns={'B23025_001E': 'TotalWorking_Pop', 
                                                                  'B23025_002E': 'inLaborForce'})
employment_status_tract

,TotalWorking_Pop,inLaborForce
"Census Tract 1048, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:104800",7614,4706
"Census Tract 1087, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108700",2972,2098
"Census Tract 1056, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:105600",4189,3578
"Census Tract 1062, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:106200",3255,2380
"Census Tract 1086, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108600",2287,1859
...,...,...
"Census Tract 265.10, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026510",3066,2203
"Census Tract 265.12, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026512",5336,3599
"Census Tract 267.07, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026707",3921,3171
"Census Tract 210.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021002",1646,1154
"Census Tract 215.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021502",2944,1845

In [16]:
housing_units_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B25001_001E'])

housing_units_tract = housing_units_hennepin.rename(columns={'B25001_001E': 'HousingUnits_Total'})
housing_units_tract

                                                    HousingUnits_Total
Census Tract 1048, Hennepin County, Minnesota: ...                3571
Census Tract 1087, Hennepin County, Minnesota: ...                1580
Census Tract 1056, Hennepin County, Minnesota: ...                3379
Census Tract 1062, Hennepin County, Minnesota: ...                2043
Census Tract 1086, Hennepin County, Minnesota: ...                1110
...                                                                ...
Census Tract 265.10, Hennepin County, Minnesota...                1780
Census Tract 265.12, Hennepin County, Minnesota...                2653
Census Tract 267.07, Hennepin County, Minnesota...                1960
Census Tract 210.02, Hennepin County, Minnesota...                 899
Census Tract 215.02, Hennepin County, Minnesota...                1617

[299 rows x 1 columns]

In [17]:
income_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B19301_001E'])

income_tract = income_hennepin.rename(columns={'B19301_001E': 'Income'})
income_tract

                                                    Income
Census Tract 1048, Hennepin County, Minnesota: ...   12063
Census Tract 1087, Hennepin County, Minnesota: ...   28163
Census Tract 1056, Hennepin County, Minnesota: ...   50288
Census Tract 1062, Hennepin County, Minnesota: ...   25363
Census Tract 1086, Hennepin County, Minnesota: ...   22401
...                                                    ...
Census Tract 265.10, Hennepin County, Minnesota...   47629
Census Tract 265.12, Hennepin County, Minnesota...   51561
Census Tract 267.07, Hennepin County, Minnesota...   45204
Census Tract 210.02, Hennepin County, Minnesota...   38549
Census Tract 215.02, Hennepin County, Minnesota...   25482

[299 rows x 1 columns]

In [18]:
language_total_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B16007_001E'])
language_tracts = language_total_hennepin.rename(columns={'B16007_001E': 'Language_Total_Count'})
language_tracts

                                                    Language_Total_Count
Census Tract 1048, Hennepin County, Minnesota: ...                  8903
Census Tract 1087, Hennepin County, Minnesota: ...                  3597
Census Tract 1056, Hennepin County, Minnesota: ...                  4285
Census Tract 1062, Hennepin County, Minnesota: ...                  3667
Census Tract 1086, Hennepin County, Minnesota: ...                  2699
...                                                                  ...
Census Tract 265.10, Hennepin County, Minnesota...                  3374
Census Tract 265.12, Hennepin County, Minnesota...                  5976
Census Tract 267.07, Hennepin County, Minnesota...                  4448
Census Tract 210.02, Hennepin County, Minnesota...                  1902
Census Tract 215.02, Hennepin County, Minnesota...                  3505

[299 rows x 1 columns]

In [19]:
english_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B16007_003E', 'B16007_009E', 'B16007_015E'])
english_total_tract = english_hennepin.rename(columns={'B16007_003E' : 'English5-17', 'B16007_009E' : 'English18-60', 'B16007_015E' : 'English60-65'})
english_total_tract = english_total_tract['English5-17'] + english_total_tract['English18-60'] + english_total_tract['English60-65']
english_total_tract

Census Tract 1048, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:104800      3991
Census Tract 1087, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108700      3159
Census Tract 1056, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:105600      3348
Census Tract 1062, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:106200      1846
Census Tract 1086, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108600      1366
                                                                                                           ...
Census Tract 265.10, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026510    2924
Census Tract 265.12, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026512    5227
Census Tract 267.07, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026707    4186
Census Tract 210.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021002    1793
Census Tract 215.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021502    2693
Length: 299, dtype: int64

In [20]:
spanish_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B16007_004E', 'B16007_010E', 'B16007_016E'])
spanish_total_tract = spanish_hennepin['B16007_004E'] + spanish_hennepin['B16007_010E'] + spanish_hennepin['B16007_016E']
spanish_total_tract

Census Tract 1048, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:104800       133
Census Tract 1087, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108700        63
Census Tract 1056, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:105600       383
Census Tract 1062, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:106200        59
Census Tract 1086, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108600      1103
                                                                                                           ...
Census Tract 265.10, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026510     156
Census Tract 265.12, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026512     231
Census Tract 267.07, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026707     128
Census Tract 210.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021002      21
Census Tract 215.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021502     280
Length: 299, dtype: int64

In [21]:
indoeuro_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B16007_005E', 'B16007_011E', 'B16007_017E'])
indoeuro_total_tract = indoeuro_hennepin['B16007_005E'] + indoeuro_hennepin['B16007_011E'] + indoeuro_hennepin['B16007_017E']
indoeuro_total_tract

Census Tract 1048, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:104800      269
Census Tract 1087, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108700        0
Census Tract 1056, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:105600      302
Census Tract 1062, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:106200       71
Census Tract 1086, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108600       13
                                                                                                          ...
Census Tract 265.10, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026510     79
Census Tract 265.12, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026512    324
Census Tract 267.07, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026707     28
Census Tract 210.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021002     15
Census Tract 215.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021502    106
Length: 299, dtype: int64

In [22]:
asian_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B16007_006E', 'B16007_012E', 'B16007_018E'])
asian_total_tract = asian_hennepin['B16007_006E'] + asian_hennepin['B16007_012E'] + asian_hennepin['B16007_018E']
asian_total_tract

Census Tract 1048, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:104800      854
Census Tract 1087, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108700      107
Census Tract 1056, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:105600      146
Census Tract 1062, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:106200       51
Census Tract 1086, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108600       26
                                                                                                          ...
Census Tract 265.10, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026510    158
Census Tract 265.12, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026512    136
Census Tract 267.07, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026707     66
Census Tract 210.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021002      0
Census Tract 215.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021502     60
Length: 299, dtype: int64

In [23]:
other_language_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B16007_007E', 'B16007_013E', 'B16007_019E'])
other_language_tract = other_language_hennepin['B16007_007E'] + other_language_hennepin['B16007_013E'] + other_language_hennepin['B16007_019E']
other_language_tract

Census Tract 1048, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:104800      3656
Census Tract 1087, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108700       268
Census Tract 1056, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:105600       106
Census Tract 1062, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:106200      1640
Census Tract 1086, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:108600       191
                                                                                                           ...
Census Tract 265.10, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026510      57
Census Tract 265.12, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026512      58
Census Tract 267.07, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:026707      40
Census Tract 210.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021002      73
Census Tract 215.02, Hennepin County, Minnesota: Summary level: 140, state:27> county:053> tract:021502     366
Length: 299, dtype: int64

In [24]:
health_insurance_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B27001_001E'])

health_insurance_tract = health_insurance_hennepin.rename(columns={'B27001_001E': 'Health_Insurance'})
health_insurance_tract

                                                    Health_Insurance
Census Tract 1048, Hennepin County, Minnesota: ...              9979
Census Tract 1087, Hennepin County, Minnesota: ...              3652
Census Tract 1056, Hennepin County, Minnesota: ...              4444
Census Tract 1062, Hennepin County, Minnesota: ...              4084
Census Tract 1086, Hennepin County, Minnesota: ...              2998
...                                                              ...
Census Tract 265.10, Hennepin County, Minnesota...              3579
Census Tract 265.12, Hennepin County, Minnesota...              5993
Census Tract 267.07, Hennepin County, Minnesota...              4805
Census Tract 210.02, Hennepin County, Minnesota...              1959
Census Tract 215.02, Hennepin County, Minnesota...              3526

[299 rows x 1 columns]

In [25]:
poverty_hennepin = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '27'), ('county', '053'), ('tract', '*')]),
                             ['B17001_001E'])

poverty_tract = poverty_hennepin.rename(columns={'B17001_001E': 'Poverty_Count'})
poverty_tract

                                                    Poverty_Count
Census Tract 1048, Hennepin County, Minnesota: ...           7951
Census Tract 1087, Hennepin County, Minnesota: ...           3652
Census Tract 1056, Hennepin County, Minnesota: ...           4384
Census Tract 1062, Hennepin County, Minnesota: ...           4084
Census Tract 1086, Hennepin County, Minnesota: ...           2967
...                                                           ...
Census Tract 265.10, Hennepin County, Minnesota...           3579
Census Tract 265.12, Hennepin County, Minnesota...           5868
Census Tract 267.07, Hennepin County, Minnesota...           4795
Census Tract 210.02, Hennepin County, Minnesota...           1959
Census Tract 215.02, Hennepin County, Minnesota...           3526

[299 rows x 1 columns]

## Combining Tables

In [26]:
#converting the index into a column for merging

age = pd.DataFrame(sex_by_age_tract).reset_index().rename({'index':'tract'}, axis = 'columns')
race = pd.DataFrame(race_tract).reset_index().rename({'index':'tract'}, axis = 'columns')
employment = pd.DataFrame(employment_status_tract).reset_index().rename({'index':'tract'}, axis = 'columns')
housing = pd.DataFrame(housing_units_tract).reset_index().rename({'index':'tract'}, axis = 'columns')
income = pd.DataFrame(income_tract).reset_index().rename({'index':'tract'}, axis = 'columns')
language = pd.DataFrame(language_tracts).reset_index().rename({'index':'tract'}, axis = 'columns')
english = pd.DataFrame(english_total_tract).reset_index().rename({'index':'tract', 0:'English_Total_Tract'}, axis = 'columns')
spanish = pd.DataFrame(spanish_total_tract).reset_index().rename({'index':'tract', 0:'Spanish_Total_Tract'}, axis = 'columns')
indoeuro = pd.DataFrame(indoeuro_total_tract).reset_index().rename({'index':'tract', 0:'Indoeuro_Total_Tract'}, axis = 'columns')
asian = pd.DataFrame(asian_total_tract).reset_index().rename({'index':'tract', 0:'Asian_Total_Tract'}, axis = 'columns')
other = pd.DataFrame(other_language_tract).reset_index().rename({'index':'tract', 0:'Other_Language_Tract'}, axis = 'columns')
insurance = pd.DataFrame(health_insurance_tract).reset_index().rename({'index':'tract'}, axis = 'columns')
poverty = pd.DataFrame(poverty_tract).reset_index().rename({'index':'tract'}, axis = 'columns')
poverty.head(1) #double checking

                                               tract  Poverty_Count
0  Census Tract 1048, Hennepin County, Minnesota:...           7951

In [27]:
#mergingin all tables together based off the census tract number

a = age.merge(race, how='inner', on='tract')
b = employment.merge(a, how='inner', on='tract')
c = housing.merge(b, how='inner', on='tract')
d = income.merge(c, how='inner', on='tract')
e = language.merge(d, how='inner', on='tract')
f = english.merge(e, how='inner', on='tract')
g = spanish.merge(f, how='inner', on='tract')
h = indoeuro.merge(g, how='inner', on='tract')
i = asian.merge(h, how='inner', on='tract')
j = other.merge(i, how='inner', on='tract')
k = insurance.merge(j, how='inner', on='tract')
l = poverty.merge(k, how='inner', on='tract')

## Parsing Out Tract Number

In [28]:
l['tract'] = l['tract'].astype(str) #changing the tract column to a string
l['tract'] = l['tract'].str[95:] #removing the first 95 characters
full_census_data = l
full_census_data.head(2)

,tract,Poverty_Count,Health_Insurance,Other_Language_Tract,Asian_Total_Tract,Indoeuro_Total_Tract,Spanish_Total_Tract,English_Total_Tract,Language_Total_Count,Income,...,Total_Race,White_Count,Black_Count,AmIndian_Count,Asian_Count,NativeHI_Count,1RaceOther_Count,2RaceOther_Count,2+RaceInc_Count,2+RaceExc_Count
0,104800,7951,9979,3656,854,269,133,3991,8903,12063,...,10065,3219,5146,36,1156,0,112,396,0,396
1,108700,3652,3652,268,107,0,63,3159,3597,28163,...,3840,2485,674,116,148,28,79,310,11,299

## Importing Census Tract Boundaries

In [30]:
boundaries = gpd.read_file('mpls_census_tracts.shp')
boundaries.head(2)

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,Shape_Leng,Shape_Area,geometry
0,27,053,023802,27053023802,238.02,Census Tract 238.02,G5020,S,1436930.0,0.0,+44.8971701,-093.3241608,5374.233258,1.435801e+06,"MULTIPOLYGON (((474627.919 4972475.865, 474630..."
1,27,053,111300,27053111300,1113,Census Tract 1113,G5020,S,1776104.0,0.0,+44.9072985,-093.3093354,5646.225669,1.774710e+06,"POLYGON ((475529.871 4972059.890, 475431.109 4..."

## Combining Census Data with Census Tract Boundaries

In [31]:
data = pd.DataFrame(full_census_data)
tracts = pd.DataFrame(boundaries)
census_poly = pd.concat([data, tracts], axis=1)
new_census = census_poly.dropna()
new_census.head(2)

,tract,Poverty_Count,Health_Insurance,Other_Language_Tract,Asian_Total_Tract,Indoeuro_Total_Tract,Spanish_Total_Tract,English_Total_Tract,Language_Total_Count,Income,...,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,Shape_Leng,Shape_Area,geometry
0,104800,7951,9979,3656,854,269,133,3991,8903,12063,...,Census Tract 238.02,G5020,S,1436930.0,0.0,+44.8971701,-093.3241608,5374.233258,1.435801e+06,"MULTIPOLYGON (((474627.919 4972475.865, 474630..."
1,108700,3652,3652,268,107,0,63,3159,3597,28163,...,Census Tract 1113,G5020,S,1776104.0,0.0,+44.9072985,-093.3093354,5646.225669,1.774710e+06,"POLYGON ((475529.871 4972059.890, 475431.109 4..."

## Converting to a GeoDataFrame for Mapping

In [32]:
mpls_census_data_gdf = GeoDataFrame(new_census, crs="EPSG:4326", geometry=new_census['geometry'])

## Saving as a Shapefile and GeoJSON

In [33]:
mpls_census_data_gdf.to_file(r'mpls_census_data.shp') # Save shapefile
mpls_census_data_gdf.to_file(r'mpls_census_data.geojson', driver='GeoJSON') # Save GeoJSON

/tmp/ipykernel_992/2666881509.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  mpls_census_data_gdf.to_file(r'mpls_census_data.shp') # Save shapefile